<div  data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
          
  <div style="background-color:#39312f;" class="d-flex justify-content-between me-auto container-fluid">
    <div class="container clearfix">
    <div style="background-color:#39312f;"  class=" p-2 float-start"> 
      <i style="font-size:14.5px;margin:0px 5px;color:#ff5821" class="bi bi-envelope"></i><a class="text-decoration-none" href="admin@ipmega.in" ><span style="color:white">admin@ipmega.in</span></a> <span style="word-spacing:1px;color:white;margin-left:20px;"><i style="font-size:14.5px;color:#ff5821" class="bi bi-phone"></i> +91 99767 86607</span>
    </div>
    
    <div style="background-color:#ff5821"  class="p-2 ps-3 px-3 float-end"><a href="#aboutus" style="color:white;text-decoration:none">Get Started</a></div>
    </div>
    </div>
    

   

  <nav style="background-color:white;"class="navbar navbar-expand-sm container-fluid sticky-top">
    <div class="container">
      <a class="navbar-brand" style="font-size:28px;color:#635551;font-family: Open Sans, sans-serif" href="file:///D:/RAVI%20BOOTSTRAP%202/AGRICULTURE/RAVIIPMEGA.HTML"><b>IP MEGA</b></a>
    

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#home" style="color:#ff5821">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactus">Contact Us</a>
      </li>
    </ul>
    </div>
  
</nav>




<div id="home">

  <div style="width:100%" class="raviimg">
    
    <div class="ravi">
    <h1 style="font-size:45px;"><b>Welcome to IP MEGA</b></h1>
    <h2>Our Solutions Quality will make your business simple and easy</h2>
    </div>
  <button type="button" class="btn rounded-pill ravi1 bttn ps-5 pe-4"><a href="#aboutus" style="color:white;text-decoration:none">Get Started</a></button><div class="circle ravi2"><i class="bi bi-arrow-right-short"></i></div>
  </div>
  




  
  <div class="ravisection2">
    <div class="rowr">
      <div class="column px-5 pt-5">
        
          <h3 style="font-size:30px;"><b>Why Choose Ipmega for your company website?</b></h3><br>
          <p>Ipmega is a Information Technology & Information Technology Enabled Services company in India.
             Innovazi having clients in almost all the sectors across the world, we done number of government 
             and private companies projects in IT and ITES.</p>
          <button type="button" style="background-color:#ff794d"  class="btn rounded-pill ravi3 ps-4 pe-4"> <a class="text-decoration-none"  href="#home"><span style="color:white">Learn More <i class="bi bi-chevron-right"></i></span></a></button>
        
      </div>
    
      <div class="column1 px-4 pt-4">
        
          <h3 style="color:#ff5821"><i class="bi bi-file-earmark-text"></i></h3><br>
          <h4>Clients</h4><br>
          <p>Our approach to the delivery of information systems is based on a partnership with client firms.
             We focus on operational requirements, economic considerations and scheduling constraints</p>
       
      </div>
      
      <div class="column1 px-4.7 pt-4">
        
          <h3 style="color:#ff5821"><i class="bi bi-box"></i></h3><br>
          <h4>Mission</h4><br>
          <p>Ipmega is dedicated to providing the people,
             services and solutions our clients need to meet their information technology challenges and business goals.</p>
        
      </div>
      
      <div class="column1 px-4.7 pt-4">
          <h3 style="color:#ff5821"><i class="bi bi-images"></i></h3><br>
          <h4><b>Vision</b></h4><br>
          
          <p>To help our clients meet their goals through our people, services and solutions.</p>
        
      </div>
    </div>
    </div>



    <div class="container-fluid ravisection3">
      <div class="container">
       <div class="imagin"> 
      <img src="slide2.jpg" class="mt-5" alt="meeting" width="450px" height="750px">
      <i style="font-size:100px;margin:0px -280px;color:#ff5821" class="bi bi-collection-play-fill"></i>
      </div>
    
</div>




<div id="aboutus">
      <div class="ravi4">
        <h5>About us</h5>
        <h3><b>Ipmega is an Information Technology</b></h3>
        <p>Ipmega having clients in almost all the sectors across the world,
           we done number of government and private companies projects in IT & ITES</p>
      <div class="ravi5">
           <h5><b>Our Business Philosophy</b></h5>
           <p>We at Ipmega work in partnership with our clients to create solutions that build tangible long term value for brands, business and culture for them.
             We deliver solutions that go beyond meeting customer expectations helping them succeed in a constantly changing and
             challenging biz world. Our fundamental company values stem from understanding that our success is tied with success of our clients.</p>
             <div class="circle1  ravic"><i class="bi bi-fingerprint"></i></div>
             
             
          <h5><b>Our key business principles are</b></h5>
          <p>Understand Clients Needs,Earn Clients Trust and Confidence,Earn Clients Trust and Confidence Being IT Business
             at Innovazi has a strong team of skilled experienced IT experts;
             Our Domain expertise and technological ability pan a very broad spectrum, some of our business verticals</p>
             <div class="circle2  ravic1"><i class="bi bi-gift"></i></div><br>

             

             <h5><b>Information Technology Services</b></h5>
          <p>Industrial Automtion software's, Application & Software Development, Web Design, Development & Customized Web solutions, 
            Enterprise Resource Planning (ERP), 
            CRM Software, Inventory excreta, Hardware and Networking services, SEO - Search Engine Optimization.</p>
            <div class="circle3  ravic2"><i class="bi bi-fingerprint"></i></div>
         
          </div>
        
         




      </div>

















      </div>
      </div>
</div>



<div id="services">

<div class="container-fluid raviservice pb-5">
<div class="container pt-5">
<h4>Services</h4>
<p>Experience a Powerful Online Presence - Are you looking for attractive and effective web design? Ipmega as a leading Web Designing Companies in India, 
  offers Web Development, e-Commerce Website Design and Development, Website Maintenance and SEO for clients all over the world. With a team of highly skilled professionals, 
  we have catered to various Corporate and Small Business Enterprises for their Website Design and SEO requirements with a customized attitude.</p><br><br><br>
</div>      

<div class="service container">
<div class="rows">
  <div class="columns">
    <div class="cards">
      <div class="circleserviceicon1 raviserviceicon1"><i style="font-size:23px" class="bi bi-briefcase"></i></div>
      <h5>WEB DESIGN</h5>
      <ul style="list-style-type:disc">
        <li>Custom Logo designing</li>
        <li>Website Domain Registration</li>
        <li>Corporate Website designing</li>
        <li>E-Commerce Website designing</li>
      </ul>
    </div>
  </div>

  <div class="columns">
    <div class="cards">
      <div class="circleserviceicon2 raviserviceicon2"><i style="font-size:23px" class="bi bi-card-checklist"></i></div>
      <h5>RESPONSIVE DESIGN</h5>
      <ul style="list-style-type:disc">
        <li>Logo re-creation designing</li>
        <li>Website Domain Registration</li>
        <li>Corporate Website designing</li>
        <li>E-Commerce Website designing</li>
      </ul>
    </div>
  </div>

  <div class="columns">
    <div class="cards">
      <div class="circleserviceicon3 raviserviceicon3"><i style="font-size:23px" class="bi bi-reception-4"></i></div>
      <h5>WEB OPTIMIZATION</h5>
      <ul style="list-style-type:disc">
        <li> SEO</li>
        <li> Digital Marketing</li>
        <li> Online Lead Generation</li>
        <li> User experience design</li>
      </ul>
    </div>
  </div>
</div><br><br><br>

<div class="rows pb-4">
  <div class="columns">
    <div class="cards">
      <div class="circleserviceicon4 raviserviceicon4"><i style="font-size:23px" class="bi bi-binoculars"></i></div>
      <h5>WEB DEVELOPMENT</h5>
      <ul style="list-style-type:disc">
        <li>Hotel Website Development</li>
        <li>Job Portal Website Development</li>
        <li>Travel Portal Website Development</li>
        <li>Ecommerce Website Development</li>
      </ul>
    </div>
  </div>

  <div class="columns">
    <div class="cards">
      <h5>BRANDING CONCEPT</h5>
      <div class="circleserviceicon5 raviserviceicon5"><i style="font-size:23px" class="bi bi-brightness-high"></i></div>
      <ul style="list-style-type:disc">
        <li> Logo design</li>
        <li>Concept design</li>
        <li> User experience design</li>
        <li>Design direction</li>
      </ul>
    </div>
  </div>

  <div class="columns">
    <div class="cards">
      <div class="circleserviceicon6 raviserviceicon6"><i style="font-size:23px" class="bi bi-calendar-week"></i></div>
      <h5>WINDOWS APPLICATION</h5>
      <ul style="list-style-type:disc">
        <li> Payroll development</li>
        <li>Stock Maintenance development</li>
        <li> Billing development</li>
        <li>Industrial Automation development</li>
      </ul>
    </div>
  </div>
</div>
</div> 

</div>




<div class="grid-container container">

<div class="mission">
  <div class="mission2 ps-5">
     <h5 style="text-align: center;">Our Mission</h5>
     <p>Ip Mega is dedicated to providing the people, services and solutions our 
      clients need to meet their information technology challenges and business goals.</p>
      <p style="font-size:12px"><i class="bi bi-arrow-right"></i>READ MORE</p>
      
  </div>
</div>
<div class="mission23">
<div class="mission3 ps-5">
  <h5 style="text-align: center;">Our Plan</h5>
  <p>Our Solutions Quality will make your business simple and easy.</p>
  <p style="font-size:12px"><i class="bi bi-arrow-right"></i>READ MORE</p>

</div>   
</div>

<div class="mission24">
  <div class="mission4 ps-5">
    <h5 style="text-align: center;">Our Vision</h5>
    <p>To help our clients meet their goals through our people, services and solutions .</p>
    <p style="font-size:12px"><i class="bi bi-arrow-right"></i>READ MORE</p>
  
  </div>   
  </div>

  <div class="mission25">
    <div class="mission5 ps-5">
      <h5 style="text-align: center;">Our Care</h5>
      <p>We at Ip mega work in partnership with our clients to create solutions that build tangible long term value for brands, business and culture for them.</p>
      <p style="font-size:12px"><i class="bi bi-arrow-right"></i>READ MORE</p>
    
    </div>   
    </div>  


</div>  




<div id="demo" class="carousel slide ravislide" data-bs-ride="carousel">

<!-- Indicators/dots -->
<div class="carousel-indicators">
  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
  <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
</div>

<!-- The slideshow/carousel -->
<div  class="carousel-inner">
  <div class="carousel-item active">
    <img src="cluster.jpg" class="oval" alt="Los Angeles">
    <h5 style="color:white">Services</h5>
    <p style="color:white"><i style="font-size:30px" class="bi bi-quote"></i> Marketing specialists claim that surfing visitors will form an impression of an online business within a few seconds, so it is vital that the information, text,
       and image presentation are of the highest quality. If your pages do project a professional image, your prospective visitors will trust they are dealing with
        a legitimate business and go on to explore your products and services deeper.<i style="font-size:30px"  class="bi bi-quote"></i></p>
      
  </div>
  <div class="carousel-item">
    <img src="cluster.jpg" class="oval" alt="Los Angeles">
    <h5 style="color:white">Website Redesign</h5>
    <p style="color:white"><i style="font-size:30px"  class="bi bi-quote"></i>e offer various dynamic and interactive web solutions that range over diverse websites like matrimony, job sites,
       travel portal and online hotel management web portal and other businesses. We focus on rendering innovative and user-friendly services.<i style="font-size:30px"  class="bi bi-quote"></i></p>
  </div>
  <div class="carousel-item">
    <img src="cluster.jpg" class="oval" alt="Los Angeles">
    <h5 style="color:white">SEO Services</h5>
    <p style="color:white"><i style="font-size:30px"  class="bi bi-quote"></i>SEO actually helps a business grow - provided the techniques adopted are effective and the design is simple and attractive. 
      Webrex provides the best support for such creative designing,
       thereby making the sites interesting and increasing the traffic. Websites need to be built in the best effective way possible for SEO.<i style="font-size:30px"  class="bi bi-quote"></i></p>
  </div>
  <div class="carousel-item">
    <img src="cluster.jpg" class="oval" alt="Los Angeles">
    <h5 style="color:white">Web Development</h5>
    <p style="color:white"><i style="font-size:30px"  class="bi bi-quote"></i>We provide and end-to-end solutions for all your web development needs. Website Design and Web Development is so important to that of human eyes.
       Just a static website without dynamic elements would just be a show case. On the other hand a very good dynamic website without a clean
       and professional design would not have a good reach. So in short both web design and web development needs to be taken care very seriously.<i style="font-size:30px"  class="bi bi-quote"></i></p>
  </div>
  <div class="carousel-item">
    <img src="cluster.jpg" class="oval" alt="Los Angeles">
    <h5 style="color:white">Testing</h5>
    <p style="color:white"><i style="font-size:30px"  class="bi bi-quote"></i>We focus on defect prevention by designing test strategies around the entire development life cycle and implementing optimized test plans. We have a
       responsive and agile mindset that provides a focused "will succeed" approach to each engagement resulting in customer satisfaction and repeat business.<i style="font-size:30px"  class="bi bi-quote"></i></p>
  </div>
</div>

</div>

</div>


<div id="contactus">

<div class="raviform">
<div class="circleformicon raviformicon"><i class="bi bi-geo-alt"></i></div>
<h2 style="margin:0px 360px">Contact</h2><br><br><br>
<div class="rowf">
<div class="columnf">
  <div class="cardf">
    <h5><b>Our Address</b></h5>
    <p>5/42,Nesavalar Street,<br>
      Surandai-627 859.</p>
  </div>
</div>

<div class="columnf">
  <div class="circleformicon1 raviformicon1"><i class="bi bi-envelope"></i></div>
  <div class="cardf">
    <h5><b>Email Us</b></h5>
    <p>admin@ipmega.in</p>
  </div>
</div>

<div class="columnf">
  <div class="circleformicon2 raviformicon2"><i class="material-icons">&#xe61d;</i></div>
  <div class="cardf">
    <h5><b>Call Us</b></h5>
    <p>+91 99767 86607</p>
  </div>
</div>
</div><br>



<div class="rowf">
<div class="columnf1">
  <div class="cardf">
    <form>
      <div class="row">
        <div class="col">
          <input type="text" style="border-radius:0px" class="form-control" placeholder="Your Name" name="email">
        </div>
        <div class="col">
          <input type="password" style="border-radius:0px" class="form-control" placeholder="Your Email " name="pswd">
        </div>
      </div><br>

      
      <input type="text" style="border-radius:0px" class="form-control" placeholder="Subject"><br>

      <textarea class="form-control" rows="5" style="border-radius:0px" id="comment" name="text" placeholder="Messege"></textarea><br>

      <button type="button" style="border-radius:0px;background-color: #ff5821;color:white;font-size:17px;"class="btn ps-4 pe-4 py-2 d-block mx-auto">Send Messege</button>
    </form>
  </div>
</div>






</div>
</div>  



<div class="ravilast">
<div class="container">

<div class="rowl">
<div class="columnl">
  <div style="padding-left:-40px" class="cardl">
    <h3>IP MEGA</h3>
    <p style="font-size:15px">5/42,Nesavalar Street,<br>
      Surandai-627 859.<br>
    <b>Phone</b>:+91 99767 86607<br>
      <b>Email</b>: admin@ipmega.in</p>
  </div>
</div>

<div class="columnl">
  <div style="padding-left:40px" class="cardl">
   <h6><b>Useful Links</b></h6>
   <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Home</a></p>
   <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">About us</a></p>
   <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Services</a></p>
   <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Terms of services</a></p>
   <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Privacy policy</a></p>

  </div>
</div>

<div class="columnl">
  <div style="padding-left:30px" class="cardl">
    <h6><b>Our Services</b></h6>
    <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Web design</a></p>
    <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Web developement</a></p>
    <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Product management</a></p>
    <p style="font-size:15px"><i style="font-size:15px;color:#ff5821;" class="bi bi-chevron-right"></i><a href="#home" style="text-decoration:none">Marketing</a></p>
  
  </div>
</div>

<div class="columnl1">
  <div  style="margin:0px 20px" class="cardl">
    <h6><b>Ipmega Web Development Company</b></h6><br>
    <p>To help our clients meet their goals through our<br> people, services and solutions .</p>
    <div class="input-group mb-3">
      <input type="text" class="form-control rounded-pill">
      <button style="margin:0px -30px;background-color:#ff5821;color:white"class="btn  rounded-pill px-4 py-2" type="submit"><a href="file:///D:/RAVI%20BOOTSTRAP%202/AGRICULTURE/RAVIIPMEGA.HTML" style="color:white;text-decoration:none">Subscribe</a></button>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="container pt-4">

<p>© Copyright <b>ipmega</b>. All Rights Reserved<br>
Designed by <a href="#" style="color:#ff5821" class="text-decoration-none">Yamee Cluster</a></p>


<div style="margin:-60px 0px" class="float-end">  
<a href="#home" class="fa fa-twitter"></a>
<a href="#home" class="fa fa-facebook"></a>
<a href="#home" class="fa fa-instagram"></a>
<a href="#home" class="fa fa-skype"></a>
<a href="#home" class="fa fa-linkedin"></a>
</div><br>


<a href="#home"><button class="btn ravibtn"><i  class="bi  bi-arrow-up-short"></i></button></a>








</div>

</div>

</div>
